---
title: "Footer bottom block"
---
<div class="container-fluid bottom-footer-block">
    <div class="row">
        <div class="col-xs-12 col-lg-12 hidden-xs">
            <div class="footer-navigation" data-require="base/modules/footer_navigation">
                
                
                   
                    

            </div>
        </div>
    </div>
    <div class = "row col-xs-12 col-sm-6 col-lg-12 copyright-section">
        <p>© 2015 Al-Futtaim Group. All rights reserved.</p>
    </div>
</div>