@import "_footer_ar";

.thankyou-message-at-forms{
    line-height: 3.125rem;
    margin-bottom: 0;
    text-transform: none;
    font-size: 2.25rem;
    margin: 0 0 0.625rem;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 0
}

/*-- top-bottom-block --*/
.top-footer-block {
    background: #68757d;

    .no-gutter-right {
        include respond-to-min($tabletSize) {
        }

        @include respond-to-min($desktopSize) {
            
        }

        @include respond-to-min($laptopSize) {
        }
    }

    .no-gutter {
        padding: 0;
    }

    .footer-navigation {
        padding: rem(30px 15px 0);
        margin-bottom: rem(30px);
        border-bottom: 1px solid #77838a;
        font-size: 0;


        .footer-link {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            border-right: 1px solid #77838a;
            height: 180px;
            &:last-child{
                border-right: none;
            }
            h3 {
                a {
                    @include raleBlack();
                    font-weight: bold;
                    color: #fff;
                    margin-bottom: rem(5px);
                    text-transform: uppercase;
                    text-decoration: none;
                    display: inline-block;
                }
            }

            .footer-menu {
                margin-bottom: rem(30px);
                padding: 0;
                margin-top: 0;

                li {
                    list-style: none;

                    a {
                        @include raleMedium();
                        color: #d4d4d4;
                        text-decoration: none;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            .footer-external-links {
                padding: 0;

                li {
                    margin-bottom: rem(12px);
                    list-style: none;

                    a {
                        @include raleBlack();
                        font-size: rem(14px);
                        line-height: rem(16px);
                        font-weight: bold;
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            color: #d4d4d4;
                        }
                    }
                }
            }

            @include respond-to-min($tabletSize) {
                padding-right: rem(35px);
                max-width: none;

                &:last-child {
                    padding-right: 0;
                }
            }

            @include respond-to-min($desktopSize) {
                margin-bottom: 0;
                max-width: none;
                padding-right: 5.43%;

                &:last-child {
                    padding-right: 0;
                }
            }

            @include respond-to-min($laptopSize) {
                padding-right: 4%;

                &:last-child {
                    padding-right: 0;
                }
            }

            @include respond-to-min($largeSize) {
                padding-right: 2.5%;
                padding-left: 2%;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        @include respond-to-min($tabletSize) {
            padding: rem(30px 5px 0);
        }

        @include respond-to-min($desktopSize) {
        }

        @include respond-to-min($laptopSize) {
            padding: rem(30px 25px 0);
            margin-bottom: 0;
            min-height: rem(210px);
        }
    }

    .social-sharing {
        border-top: rem(1px solid #77838a);
        font-size: 0;

        a {
            display: inline-block;
            vertical-align: middle;
            height: rem(50px);
            width: 25%;
            text-align: center;
            color: #fff;
            font-size: rem(30px);

            @include respond-to-min($tabletSize) {
                height: rem(95px);
            }

            i {
                line-height: rem(50px);
                width: 100%;
                border-right: rem(1px solid #77838a);
                display: block;

                @include respond-to-min($tabletSize) {
                    line-height: rem(95px);
                }
            }

            &:hover {
                color: #d4d4d4;
            }
        }

        @include respond-to-min($desktopSize) {
        }

        @include respond-to-min($laptopSize) {
            border-bottom: rem(1px solid #77838a);
        }
    }

    .copyright-section {
        border-top: rem(1px solid #77838a);
        padding: rem(25px 15px);
        text-align: center;

        .policy-menu, .external-footer-menu {
            padding: 0;
            margin: 0;

            li {
                @include inline-block();
                margin-left: rem(20px);

                a {
                    color: #fff;
                    text-decoration: none;
                    @include raleMedium();
                    &:hover {
                        color: #d4d4d4;
                    }
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .policy-menu {
            margin-bottom: rem(25px);

            @include respond-to-min($tabletSize) {
                margin: 0;
            }
        }

        p {
            color: #d4d4d4;
            @include arial();
            font-size: rem(14px);
            margin: 0;
        }

        @include respond-to-min($tabletSize) {
            padding: rem(25px 30px 20px 15px);
            text-align: right;
        }

        @include respond-to-min($desktopSize) {
        }

        @include respond-to-min($laptopSize) {
            padding: rem(45px 40px 25px);
            border-top: 0;
            border-left: 0;
        }
    }
}



/*-- top-bottom-block --*/
.top-footer-block {
    background: #68757d;

    .no-gutter-right {
        include respond-to-min($tabletSize) {
        }

        @include respond-to-min($desktopSize) {
            
        }

        @include respond-to-min($laptopSize) {
        }
    }

    .no-gutter {
        padding: 0;
    }

    .footer-navigation {
        padding: rem(30px 15px 0);
        margin-bottom: rem(30px);
        border-bottom: 1px solid #77838a;
        font-size: 0;


        .footer-link {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            border-right: 1px solid #77838a;
            height: 180px;
            &:last-child{
                border-right: none;
            }
            h3 {
                a {
                    @include raleBlack();
                    font-weight: bold;
                    color: #fff;
                    margin-bottom: rem(5px);
                    text-transform: uppercase;
                    text-decoration: none;
                    display: inline-block;
                }
            }

            .footer-menu {
                margin-bottom: rem(30px);
                padding: 0;
                margin-top: 0;

                li {
                    list-style: none;

                    a {
                        @include raleMedium();
                        color: #d4d4d4;
                        text-decoration: none;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}