---
title: "Footer top block"
---
<div class="container-fluid top-footer-block" data-require="base/modules/bootstrap-column-same-height">
    {{#if this.hideScrollTop}}
    {{else}}
        {{> scroll_top}}
    {{/if}}
    <div class="row">
        <div class = "col-xs-12 col-md-12 col-lg-12 hidden-xs">
            <div class="footer-navigation" data-require="base/modules/footer_navigation">
                <div class="footer-link col-md-2 col-lg-1">
                    <h3><a href="#">About us</a></h3>
                        <ul class="footer-menu">
                            <li><a href="#">Corporate Profile</a></li>
                            <li><a href="#">Our History</a></li>
                            <li><a href="#">Sustainability</a></li>
                            <li><a href="#">Our Global</a></li>
                            <li><a href="#">Presence</a></li>
                            <li><a href="#">CSR</a></li>
                            <li><a href="#">Leadership Team</a></li>
                        </ul>
                </div>
                <div class="footer-link col-md-2 col-lg-2">
                    <h3><a href="#">Automotive</a></h3>
                        <ul class="footer-menu">
                            <li><a href="#">Rental and Leasing</a></li>
                            <li><a href="#">Dealership</a></li>
                            <li><a href="#">Part & Body Shop</a></li>
                            <li><a href="#">Logistic</a></li>
                        </ul>
                </div>
                <div class="footer-link col-md-1 col-lg-1">
                    <h3><a href="#">Retail</a></h3>
                        <ul class="footer-menu">
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Electronics</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Toys</a></li>
                            <li><a href="#">Life Style</a></li>
                            <li><a href="#">Department Store</a></li>
                        </ul>
                </div>
                <div class="footer-link col-md-1 col-lg-1">
                    <h3><a href="#">financial services</a></h3>
                        <ul class="footer-menu">
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Investment</a></li>

                        </ul>       
                </div>
                <div class="footer-link col-md-1 col-lg-2">
                    <h3><a href="#">real estate</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">Malls & Lifestyle</a></li>
                        <li><a href="#">Technology & Engineering</a></li>
                        <li><a href="#">Education</a></li>
                        <li><a href="#">Property</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                        
                </div>
                <div class="footer-link col-md-2 col-lg-1">
                    <h3><a href="#">media center</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">News</a></li>
                        <li><a href="#">Multimedia Galery</a></li>
                        <li><a href="#">Events & Promotions</a></li>
                    </ul>
                        
                </div>
                <div class="footer-link col-md-2">
                    <h3><a href="#">learning & development</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">Training Centre</a></li>
                        <li><a href="#">Automotive</a></li>
                        <li><a href="#">Academy</a></li>
                        <li><a href="#">Retail Business</a></li>
                        <li><a href="#">College</a></li>
                    </ul>
                </div>
                <div class="footer-link col-lg-2">
                    <h3><a href="#">carerrs</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Talent Brand</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>