
/*-- header slider --*/
.header-slider {
    position: relative;
  
    height: 1256px;
    overflow: hidden;

    > img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        width: 100%;
    }

    @include respond-to-min($tabletSize) {
        min-height: rem(300px);
    }

    @include respond-to-min($laptopSize) {
        min-height: rem(450px);
    }

    @include respond-to-min($hdSize) {
        min-height: rem(600px);
    }

   
    &__text {
        z-index: 2;
        position: relative;
        width: 100%;
        padding: rem(20px 20px 7px);

        @include respond-to-min($desktopSize) {
            left: rem(80px);
            top: 45%;
            width: 53rem;
        }

        h3 {
            opacity: 1;
            @include raleLight();
            color: #fff;
            text-transform: uppercase;
            letter-spacing: rem(3px);
            line-height: rem(33px);
            margin: rem(0 0 10px);

            @include respond-to-min($tabletSize) {
                font-size: rem(42px);
                line-height: rem(42px);
                margin: rem(0 0 18px);
            }

            @include respond-to-min($desktopSize) {
                line-height: 4.5rem;
                font-size: 66px;
            }
        }


        .header-button-container {
            background: #fff !important;
            overflow: hidden;

            span{
                border-right: 1px solid #084c97;
                text-align: center;
                padding: 18px;
                font-size: 16px;
                color: #094c97 !important;
            }
            a {
                text-decoration: none;
                color: #fff;
                background-color: #094c97 !important;
                font-size: rem(16px);
                line-height: rem(20px);
                text-transform: uppercase;
                display: inline-block;
                font-weight: 900;

                &:hover {
                    color: #094c97 !important;
                    background-color: #fff !important;
                }
            }
        }
    }
                   
    &__ticker{
        height: 100px;
        bottom: 55px;
        width: 100%;
        position: absolute;
        .row{
            background: #ffffff;
            margin-right: 80px;
            height: 100%;
            margin-left: 80px;
            .heading{
                border-right: 1px solid #e6e6e6;
                height: 100%;
                text-align: center;
            }
            .heading:before{
                content:'';
                width: 0;
                height: 0;
                border-top: 12px solid transparent;
                border-bottom: 12px solid transparent;
                border-left: 12px solid #fff;
                position: absolute;
                top: 50%;
                right: -12px;
                margin-top: -12px;
                z-index: 1;
            }
            .heading:after{
                content: " ";
                display: block;
                position: absolute;
                top: 50%;
                right: -13px;
                margin-top: -13px;
                border-top: 13px solid transparent;
                border-bottom: 13px solid transparent;
                border-left: 13px solid #c8c8c7;
                z-index: 0;
            }
            h2{
                font-size: 'Raleway Medium',sans-serif;
                text-transform: uppercase;
                line-height: rem(45px);
                margin: 28px auto;
                font-size: 35px;
                font-weight: 900;
                height:45px;
                margin: 28px auto;
                text-align: center;
            }
            p{  
                line-height: rem(75px);
                height:45px;
                text-align: left;
                margin-top: 13px;
                margin-left: 60px;
            }
            .arrow{
                position: absolute;
                right: 0px;
                top: 50px;
                a{
                    width: 16px;
                    height: 16px;
                    background-size: 16px 16px;
                    transform: translateY(-50%);
                    margin-top: 0;
                    border: 1px solid #c8c8c7;
                    padding: 24px;
                    border-radius: 100%;
                    text-decoration: none;
                }
                .swiper-button-prev, .swiper-button-next {
                    background-image: url('/img/prev_arrow.png');
                    position: absolute;
                    z-index: 10;
                    cursor: pointer;
                    background-size: 16px 16pxpx;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .swiper-button-prev{
                    left: 50px;
                }
                .swiper-button-next{
                    background-image: url('/img/next_arrow.png');
                    right: 125px;
                }
            }
        }
       
    }
    
}

    


    