---
title: "Header Slider"
---
<div class="header-slider" >
    <img src="/img/header_slider_image1.jpg">
    <div class="header-slider__text">
        <h3>Entrepreneurship and customer focus is the backbone of the Al-Futtaim business
        </h3>
        <div class="header-button-container button-arrow-right">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <a href="#">discover the group</a>
        </div>
    </div>
    
    <div class="header-slider__ticker" data-require="base/views/header_ticker">
        <div class = "row">
             
            <div class="col-md-2 col-lg-2 heading">
                <h2>updates</h2>
            </div>
            
            <div class="owl-carousel carou">
                {{#each this.tickers}}
                    <div class="col-md-8 col-lg-8 content">
                        <p>{{ticker}}</p>
                    </div>
                {{/each}}
            </div>
            
            <div class="col-md-2 col-lg-2 arrow">
                <a class="swiper-button-prev"></a>
                <a class="swiper-button-next"></a>
            </div>
            
        </div>
    </div>
            
</div>



