---
title: "main menu desktop"
---
    <nav class="main-navigation">
        <a class="main-navigation__logo" href="#" title="">
            <img src="/img/alfuttaim-logo.png" alt="" />
        </a>
        <ul class="main-navigation__menu-content" data-require="base/views/main_navigation">
            <li>
                <a href = "#">About Us</a>
            </li>
            <li>
                <a href = "#">Automotive</a>
            </li>
            <li>
                <a href = "#">Financial Services</a>
            </li>
            <li>
                <a href = "#">Real Estate</a>
            </li>
            <li>
                <a href = "#">Retail</a>
            </li>
            <li>
                <form action="#">
                    <input class="search-input" placeholder="What are you looking for?" />
                    <span class="search-icon"></span>
                    <span class="search-close"></span>
                </form>
            </li>
        </ul>
    </nav>

</div>

