
/*-- top navigation --*/
.navigation-wrapper{
    position: fixed;
    z-index: 9999;
    width: 100%;
    .top-navigation-container {
        background-color: #ffffff;
        height: rem(50px);
        overflow: hidden;
        display: none;
        border-bottom: 1px solid #c8c8c7;

        @include respond-to-min($tabletSize) {
            display: block;
        }
    }

    .top-navigation {
        list-style: none;
        display: block;
        float: left;
        margin: rem(7px 0 0 7px);
        padding: 0;

        &__item {
            font-size: 0px;
            display: inline-block;

            @include respond-to-min($desktopSize) {
                margin: rem(0 0 0 10px);
            }

            @include respond-to-min($laptopSize) {
                margin: rem(0 0 0 13px);
            }

            &__content {
                
                vertical-align: middle;
                display: inline-block;
                padding: rem(5px 8px);
                transition: all 100ms linear;

                &:hover {
               

                    img {
                        display: none;

                        &.active {
                            display: inline-block;
                        }
                    }

                    span {
                        
                    }
                }

                img {
                    display: inline-block;
                    vertical-align: middle;
                    max-height: rem(20px);
                    margin: rem(0 8px 0 0);

                    &.active {
                        display: none;
                    }
                }


                span {
                    display: inline-block;
                    vertical-align: middle;
                    color: #6a6a6a;
                    padding: rem(1px 0 0);
                    @include raleMedium();
                    font-size: 16px;

                    @include respond-to-min($tabletSize) {
                        font-size: rem(13px);
                        line-height: rem(13px);
                        width: rem(80px);
                    }

                    @include respond-to-min($desktopSize) {
                        line-height: rem(10px);
                        font-size: 16px;
                        width: auto;
                    }

                    @include respond-to-min($laptopSize) {
                        line-height: rem(13px);
                        font-size: 16px;
                    }
                }
            }
        }

        &__item-desktop-only {
            @include respond-to-min($tabletSize) {

                display: none;
            }

            @include respond-to-min($desktopSize) {
                display: inline-block;
            }
        }
    }

    .top-navigation-right {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin: rem(7px 15px 0 0);
        
        height: 36px;

        &::before {
            content: '';
            height: rem(36px);
            display: inline-block;
            vertical-align: middle;
        }

        &__nbad {
            display: inline-block;
            vertical-align: middle;
            padding: rem(0 8px);
            color: #6a6a6a;
            @include raleMedium();
            font-size: 16px;
            &::before {
                content: none;
            }

           
            @include respond-to-min($desktopSize) {
                font-size: rem(16px);
                line-height: rem(36px);
                height: rem(36px);
                width: auto;
                margin: 0;
            }

            @include respond-to-min($laptopSize) {
                font-size: rem(16px);
                margin: rem(0 23px 0 0);
            }
            /*-- for edit mode --*/
            .epi-editContainer {
                display: inline-block;
            }

            strong, .text-bold {
               
                @include respond-to-min($desktopSize) {
                }

                @include respond-to-min($laptopSize) {
                    font-size: rem(16px);
                }
            }
        }

        &__shop {
            
            padding: rem(0 8px);
            height: rem(36px);
            line-height: rem(36px);
            color: #6a6a6a;
            text-decoration: none;
            @include raleMedium();
            font-size: 16px;

            @include respond-to-min($desktopSize) {
                display: inline-block;
            }

            @include respond-to-min($laptopSize) {
            }
        }
    }
}