---
title: "top navigation desktop"
---
<div class="navigation-wrapper">
    <div class="top-navigation-container">
        <ul class="top-navigation">
            
            <li class="top-navigation__item top-navigation__item-desktop-only">
                <a href="#" class="top-navigation__item__content">
                    <span>Media Centre</span>
                </a>
            </li>
            <li class="top-navigation__item top-navigation__item-desktop-only">
                <a href="#" class="top-navigation__item__content">
                    <span>Carrers</span>
                </a>
            </li>
            <li class="top-navigation__item top-navigation__item-desktop-only">
                <a href="#" class="top-navigation__item__content">
                    <span>Learning & Development</span>
                </a>
            </li>
            <li class="top-navigation__item top-navigation__item-desktop-only">
                <a href="#" class="top-navigation__item__content">
                    <span>Contact Us</span>
                </a>
            </li>
        </ul>
        
        <div class="top-navigation-right">
            <span class="top-navigation-right__nbad">
                Al-Futtaim NBAD Credit Card
            </span>
            <a href="#" class="top-navigation-right__shop">Shop online</a>
        </div>
    </div>