<section class="brand-list">
	<div class="brand-list__top">
		<div class="container">
			<p dir="ltr">Al-Futtaim is one of the most progressive regional business houses headquartered in Dubai, United Arab Emirates. It's committed to offering customers an unrivalled choice of the world's best brands with exceptional standards of customer service and after sales support.</p>
		</div>
	</div>
	<div class="brand-list__bottom">

	</div>
</section>