.brand-list {
	& .container {
		padding: 0;
	}

	&__top {
		height: 410px;
		padding-top: 65px;
		margin-bottom: 20px;
		text-align: center;

		p {
			@include ralewayNormal;
			color: #414141;
			font-size: 22px;
			font-weight: 400;
			padding: 0 10px;
		}
	}

	&__bottom {
		background-color: #fff;

		#brand-tabs,
		.brand-category__body {
			position: relative;
			border-bottom: 0;
			top: -190px;

			@include respond-to-max($tabletSize) {
				top: -160px;
			}
			@include respond-to-max($mobileSize) {
				top: -80px;
			}
		}
	}
}

.brand-category {
	width: 25%;

	&__link {
		@include ralewayBlack;
		height: 191px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		margin-right: 0 !important;
		color: #084c96;

		&:hover {
			background-color: #fff !important;
			color: #084c96;
		}

		li.active & {
			background-color: #fff !important;
			color: #303030 !important;
		}

		@include respond-to-max($tabletSize) {
		    height: 160px;
		}

		@include respond-to-max($mobileSize) {
			height: 80px;
			
	    	p {
	    		display: none;
	    	}
		}
	}

	&__img {
		height: 80px;
		display: block;
		margin: 10px auto;

		@include respond-to-max($tabletSize) {
		    height: 50px;
		}
	}

	&__body {
		margin-top: 50px;

		.nav-pills {
			margin-bottom: 20px;
		}

		.owl-prev,
		.owl-next {
			@extend %position-absolute;
			top: 60px;
			color: black !important;
			font-size: 22px !important;
			margin: 0 !important;
			padding: 0 !important;
			background-color: transparent !important;

			span {
				width: 60px;
				line-height: 56px;
				border-color: #cbcbcb;
				color: #094c97;
			}
		}

		.owl-prev {
			left: -70px;
		}
		.owl-next {
			right: -70px;
		}
	}
}

.brand-sub-category {
	margin: 0;

	a {
		@include ralewayNormal;
		border-radius: 0 !important;
		background-color: #e7eff6 !important;
		color: #084c96 !important;
		text-align: center;
		border: 1px solid #ccc;
		height: 70px;
		line-height: 70px;
		padding: 0;
		font-weight: 600;

		&:hover {
			background-color: #fff !important;
			color: #333333 !important;
		}
	}

	&+li {
		margin-left: 0 !important;

		a {
			border-left: 0 !important;
		}
	}

	&.active a {
		background-color: #fff !important;
		color: #333333 !important;
	}
}

.brand-sub-category {
	&__footer {
		.button-arrow-right {
			background-color: #094c97 !important;
		}

		a {
			@include ralewayBlack;
			font-weight: 900;
			color: #fff !important;

			&:hover {
				color: #094c97 !important;
				background-color: #fff !important;
			}
		}
	}
	&.active:after, 
	&.active:before {
		top: 98%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		z-index: 2;
		pointer-events: none;
	}

	&.active:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 15px;
		margin-left: -15px;
	}
	&.active:before {
		border-color: rgba(204, 204, 204, 0);
		border-top-color: #bbb;
		border-width: 16px;
		margin-left: -16px;
	}
}


@for $num from 1 through 6 {
	.col-subtab-#{$num} {
		width: 100% / $num;
	}
}

// Fix Bootstrap tabs + Owl Carousel bug
.tab-content > .tab-pane {
	display: block;
    visibility: hidden !important;
    height: 0px !important;
    overflow: hidden !important;
}
.tab-content > .active {
    visibility: visible !important;
    height: auto !important;
    overflow: visible !important;
}