---
title: "Brand List"
---

<section class="brand-list">
	<div class="brand-list__top">
		<div class="container">
			<p dir="ltr">Al-Futtaim is one of the most progressive regional business houses headquartered in Dubai, United Arab Emirates. It's committed to offering customers an unrivalled choice of the world's best brands with exceptional standards of customer service and after sales support.</p>
		</div>
	</div>
	<div class="brand-list__bottom">
		<div class="container">
			<ul class="nav nav-tabs" role="tablist" id="brand-tabs">
			  <li role="presentation" class="active brand-category">
			  	<a href="#automotive" class="brand-category__link" aria-controls="automotive" role="tab" data-toggle="tab">
			  		<svg class="brand-category__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.000004 32.000004"><path d="M16 0C7.16 0 0 7.16 0 16s7.16 16 16 16 16-7.16 16-16S24.84 0 16 0m0 4c5.94 0 10.86 4.34 11.82 10h-6.18c-.84-2.32-3.04-4-5.64-4-2.6 0-4.8 1.68-5.64 4H4.18C5.14 8.34 10.06 4 16 4M4.18 18h6.18c.62 1.7 1.64 3.02 3.64 3.64v6.18c-4-.84-8.98-4.8-9.82-9.82M18 27.82v-6.18c2-.62 3.02-1.94 3.64-3.64h6.18c-.84 5.02-3.82 8.98-9.82 9.82" fill="#262626"></path></svg>
			  		Automotive
			  	</a>
			  </li>
			  <li role="presentation" class="brand-category">
			  	<a href="#financial" class="brand-category__link" aria-controls="financial" role="tab" data-toggle="tab">
			  		<svg class="brand-category__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.327927 32.000004"><path d="M23.668 3.283h-.245v25.115c0 .93-.768 1.7-1.7 1.7H3.284v.203c0 .932.77 1.7 1.7 1.7h18.645c.93 0 1.698-.768 1.698-1.7V4.983c.04-.93-.728-1.7-1.658-1.7" fill="#39a1da"></path><path d="M18.443 8.777H3.64c-.364 0-.647-.283-.647-.647V3.52c0-.365.283-.648.647-.648h14.763c.364 0 .647.283.647.647v4.65c0 .324-.283.607-.607.607m-.97 6.067c-.89 0-1.578-.728-1.578-1.578 0-.85.728-1.577 1.578-1.577.89 0 1.577.727 1.577 1.576 0 .85-.687 1.578-1.577 1.578m0 5.5c-.89 0-1.578-.728-1.578-1.577 0-.89.728-1.577 1.578-1.577.89 0 1.577.728 1.577 1.577 0 .85-.687 1.577-1.577 1.577m0 5.5c-.89 0-1.578-.727-1.578-1.576 0-.85.728-1.578 1.578-1.578.89 0 1.577.728 1.577 1.578 0 .85-.687 1.577-1.577 1.577m-6.43-11c-.89 0-1.58-.73-1.58-1.58 0-.848.73-1.576 1.58-1.576.89 0 1.576.727 1.576 1.576 0 .85-.688 1.578-1.578 1.578m0 5.5c-.89 0-1.578-.728-1.578-1.577 0-.89.728-1.577 1.578-1.577.89 0 1.577.728 1.577 1.577 0 .85-.688 1.577-1.578 1.577m0 5.5c-.89 0-1.578-.727-1.578-1.576 0-.85.728-1.578 1.578-1.578.89 0 1.577.728 1.577 1.578 0 .85-.688 1.577-1.578 1.577m-6.43-11c-.89 0-1.58-.73-1.58-1.58 0-.848.73-1.576 1.58-1.576.89 0 1.576.727 1.576 1.576 0 .85-.687 1.578-1.577 1.578m0 5.5c-.89 0-1.577-.728-1.577-1.577 0-.89.728-1.577 1.578-1.577.89 0 1.578.728 1.578 1.577 0 .85-.687 1.577-1.577 1.577m0 5.5c-.89 0-1.577-.727-1.577-1.576 0-.85.728-1.578 1.578-1.578.89 0 1.578.728 1.578 1.578 0 .85-.687 1.577-1.577 1.577M20.386 0H1.7C.767 0 0 .768 0 1.7v25.318c0 .93.768 1.7 1.7 1.7h18.644c.93 0 1.7-.77 1.7-1.7V1.698C22.083.77 21.313 0 20.383 0" fill="#2c579a"></path><path d="M17.016 7.345H5.068c-.364 0-.647-.284-.647-.648V4.942c0-.364.284-.648.648-.648h11.907c.364 0 .648.284.648.648v1.796c0 .323-.284.607-.607.607" fill="#39a1da"></path></svg>
			  		Financial Services
			  	</a>
			  </li>
			  <li role="presentation" class="brand-category">
			  	<a href="#estate" class="brand-category__link" aria-controls="estate" role="tab" data-toggle="tab">
			  		<svg class="brand-category__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32.000004"><path d="M22.06 0l-9.396 4.153v4.22l3.132-1.428 9.532 3.336V32H32V3.268L22.06 0zm5.583 4.902h1.43v2.86h-1.43v-2.86zm0 5.106h1.43v2.86h-1.43v-2.86zm0 5.107h1.43v2.86h-1.43v-2.86zm0 5.106h1.43v2.86h-1.43v-2.86zm0 5.176h1.43v2.86h-1.43v-2.86z" fill="#1a9fe0"></path><path d="M0 15.728V32h15.047V8.85L0 15.73zm2.043 1.634l9.6-2.996v1.498l-9.6 2.996v-1.498zm0 3.88l9.6-2.042v1.498l-9.6 2.042v-1.497zm0 3.813l9.6-1.02v1.497l-9.6 1.02v-1.497zm0 3.88h9.6v1.43h-9.6v-1.43zM16.545 32H23.9V11.302l-7.353-2.587V32z" fill="#094c97"></path></svg>
			  		Real Estate
			  	</a>
			  </li>
			  <li role="presentation" class="brand-category">
			  	<a href="#retail" class="brand-category__link" aria-controls="retail" role="tab" data-toggle="tab">
			  		<svg class="brand-category__img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.000004 26.320003"><path d="M29.76 15.68L19.52 25.92c.96.64 2.56.32 3.2-.32l8.32-8.32c1.28-1.28 1.28-3.2 0-4.16L20.16 1.92C18.88.96 16.64 0 15.04 0l14.72 14.4c.32.32.32.96 0 1.28" fill="#1a9fe0"></path><path d="M6.72 9.6c1.6 0 2.88-1.28 2.88-2.88 0-1.6-1.28-2.88-2.88-2.88-1.6 0-2.88 1.28-2.88 2.88 0 1.6 1.28 2.88 2.88 2.88M2.88 0H9.6c1.6 0 3.52.96 4.8 1.92l11.2 11.2c.96.96.96 2.88 0 4.16l-8.32 8.32c-1.28.96-2.88.96-4.16 0L1.92 14.4C.96 13.12 0 10.88 0 9.6V2.88C0 1.28 1.28 0 2.88 0" fill="#094c97"></path></svg>
			  		Retail
			  	</a>
			  </li>
			</ul>
			<div class="tab-content brand-category__body">
	  		<div class="tab-pane active" id="automotive" role="tabpanel">
	  			Automotive
	  		</div>
	  		<div class="tab-pane" id="financial" role="tabpanel">
	  			Financile
	  		</div>
	  		<div class="tab-pane" id="estate" role="tabpanel">
	  			Estate
	  		</div>
	  		<div class="tab-pane" id="retail" role="tabpanel">
	  			Retail
	  		</div>
	  	</div>
		</div>
	</div>
</section>