---
title: "Contact Block"
---

<section class="full-width bottom-cta">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-md-6">
				<div class="bottom-cta-item">
					<span class="bottom-cta-item__header">AL-FUTTAIM NBAD CREDIT CARDS</span>
					<div class="row">
						<div class="col-xs-5">
							<img src="/img/credit-card.png" alt="AL-FUTTAIM NBAD CREDIT CARDS" class="bottom-cta-item__img">
						</div>
						<div class="bottom-cta-item__description col-xs-7">
							<p>Personalized service to cater to all your lifestyle needs, exclusive benefits and security.</p>
							<span class="bottom-cta-item__link">
								<span class="glyphicon glyphicon-chevron-right arrow-circle" aria-hidden="true"></span>
								<a href="#" title="Apply Now" target="_blank">Apply Now</a>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="bottom-cta-item">
					<span class="bottom-cta-item__header">SHOP OUR BRANDS ONLINE</span>
					<div class="row">
						<div class="col-xs-5">
							<img src="/img/shop-online.jpg" alt="SHOP OUR BRANDS ONLINE" class="bottom-cta-item__img">
						</div>
						<div class="bottom-cta-item__description col-xs-7">
							<p>
								Shopping made easy, with a click of a button, and in the comfort of your home.
							</p>
							<span class="bottom-cta-item__link">
								<span class="glyphicon glyphicon-chevron-right arrow-circle" aria-hidden="true"></span>
								<a href="#">VIEW ALL STORES</a>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>