.bottom-cta {
	@extend %full-width;
	background-color: #199fe0;
}

.bottom-cta .row {
	margin: 50px 0;

	& > div {
		padding: 0;
	}

	& > div:nth-child(1) .bottom-cta-item {
		margin-right: 20px;
	}

	& > div:nth-child(2) .bottom-cta-item{
		margin-left: 20px;
	}
}

.bottom-cta-item {
	position: relative;

	&__header {
		@extend %position-absolute;
		@include ralewayNormal;
		left: 50px;
		top: 30px;
		color: #1364ad;
		font-size: 26px;
		font-weight: 400;
	}

	&__img {
		@extend %full-width;
	}

	&__description {
	    @extend %position-absolute;
	    @include ralewayNormal;
	    left: 240px;
	    top: 80px;
	    width: 45%;
	    color: #1c1c1b;
	    font-size: 16px;
	    font-weight: 400;
	}

	&__link {
		a {
			@include ralewayBlack;
			text-transform: uppercase;
			color: #094c97;
			font-size: 15px;
			font-weight: 900;
			margin-left: 5px;
		}

		span {
			color: #094c97;
			border-color: #094c97;
			width: 35px;
			line-height: 31px;
		}
	}
}
