---
title: "Contact Block"
---

<section class="full-width bottom-cta">
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-xs-12">
				<div class="bottom-cta-item">
					<span class="bottom-cta-item__header">AL-FUTTAIM NBAD CREDIT CARDS</span>
					<img src="/img/credit-card.png" alt="AL-FUTTAIM NBAD CREDIT CARDS" class="bottom-cta-item__img">
					<p class="bottom-cta-item__description">
						Personalized service to cater to all your lifestyle needs, exclusive benefits and security.
					</p>
					<span class="bottom-cta-item__link">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<a href="http://www.nbad.com/alfuttaim" title="Apply Now" target="_blank">Apply Now</a>
					</span>
				</div>
			</div>

			<div class="col-md-6 col-xs-12">
				<div class="bottom-cta-item">
					<span class="bottom-cta-item__header">SHOP OUR BRANDS ONLINE</span>
					<img src="/img/shop-online.jpg" alt="SHOP OUR BRANDS ONLINE" class="bottom-cta-item__img">
					<p class="bottom-cta-item__description">
						Shopping made easy, with a click of a button, and in the comfort of your home.
					</p>
					<span class="bottom-cta-item__link">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<a href="http://www.alfuttaim.com/wps/portal/Corporate/!ut/p/a1/04_Sj9CPykssy0xPLMnMz0vMAfGjzOJNAgxdPTxNDL3d_c3dDBwNvSz9PNy8jUMMTIEKIoEKDHAARwNC-sP1o8BK8JhQkBthkO6oqAgAssL8ig!!/dl5/d5/L2dBISEvZ0FBIS9nQSEh/?1dmy&amp;urile=wcm%3apath%3a%2Fafgcorporate_en%2Fhome%2Fothers%2Fshoponline">VIEW ALL STORES</a>
					</span>
				</div>
			</div>

		</div>
	</div>
</section>