.bottom-cta {
	@extend %full-width;
	background-color: #199fe0;
}

.bottom-cta > .container > .row {
	margin: 50px 0 0;

	& > div {
		padding: 0;
	}

	& > div:nth-child(1) .bottom-cta-item {
		@include respond-to-min($desktopSize) {
			margin-right: 15px;
			margin-bottom: 0;

		}
	}

	& > div:nth-child(2) .bottom-cta-item{
		@include respond-to-min($desktopSize) {
			margin-left: 15px;
		}
	}
}

.bottom-cta-item {
	position: relative;
	margin-bottom: 50px;
	background-color: #fff;

	&__header {
		@include ralewayNormal;
		display: inline-block;
		margin: 35px 0 0 50px;
		color: #1364ad;
		font-size: 26px;
		font-weight: 400;

		@include respond-to-min-max($desktopSize, $laptopSize) {
			margin-left: 15px;
		}

		@include respond-to-max($mobileSize) {
		    font-size: 20px;
    		margin: 15px 15px 0;
		}
	}

	&__img {
    	max-height: 178px;
    	max-width: 100%;
    	height: 170px;
	}

	&__description {
	    @include ralewayNormal;
	    color: #1c1c1b;
	    font-size: 16px;
	    font-weight: 400;
	    margin-top: 15px;

	    p {
	    	padding-right: 20px;
	    }
	}

	&__link {
		display: inline-block;
		margin-bottom: 15px;

		a {
			@include ralewayBlack;
			text-transform: uppercase;
			color: #094c97;
			font-size: 15px;
			font-weight: 900;
			margin-left: 5px;
		}

		span {
			color: #094c97;
			border-color: #094c97;
			width: 30px;
			line-height: 26px;
		}
	}
}
