---
title: "Square Grid"
---

<div class="square-grid">
    <div class="container-fluid">
        <div class="row same-height">
            <div class="col-lg-6 square-item left">
                <div class="content">
                    <h2>Our people are out power</h2>
                    <p>At Al-Futtaim, we offer highly engaging and supportive work environments in a culture that that values, recognises and rewards quality performance.</p>
                    <a class="read-more-link" href="#">
                        <span class="glyphicon glyphicon-chevron-right arrow-circle"></span>
                        Read more
                    </a>
                </div>
            </div>
            <div class="col-lg-6 square-item square-img">
                <img src="/img/square-grid-1.png">
            </div>

            <div class="col-lg-6 square-item square-img">
                <img src="/img/square-grid-2.png">
            </div>
            <div class="col-lg-6 square-item right">
                <div class="content">
                    <h2>our global presence</h2>
                    <p>We operate across the UAE, Bahrain, Kuwait, Oman, Qatar, Saudi Arabia, Egypt, Pakistan, Sri Lanka, Syria, Singapore and Europe.</p>
                    <a class="read-more-link" href="#">
                        <span class="glyphicon glyphicon-chevron-right arrow-circle"></span>
                        <span>Read more</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>