.whatsnew{
    
    $transition: all 0.3s ease-in-out;
    width: 100%;
    background: url('/img/whatsnews.png');
    @include ralewayNormal();

    h2{
        text-transform: uppercase;
    }

    .title{

        h2{
            color: #1a9fe0;
            font-size: 44px;
            text-align: center;
            margin: 0;
            font-weight: 900;
            transform: translateY(16px);
            @include ralewayBlack();

            @include respond-to-min($mobileSize) {
                font-size: 60px;
            }

            @include respond-to-min($mobileLandscapeSize) {
                font-size: 76px;
                transform: translateY(27px)
            }

            @include respond-to-min($tabletSize) {
                font-size: 105px
            }

            @include respond-to-min($desktopSize) {
                font-size: 124px;
                transform: translateY(34px)
            }

            @include respond-to-min($largeSize) {
                font-size: 140px;
                
            }
        }
    }

    .article-campaign{
        overflow-x: scroll;
        width: 100%;
        position: relative;

        &::-webkit-scrollbar{
            display: none
        }

        @include respond-to-min(800px) {
            overflow-x: visible
        }

        .article-campaign__body{
            transition: $transition;
            width: 1920px;

            .content-column{
                float: left;
                width: 320px;
                $item-height: 240px;

                .article__image, .article__content, .campaign__content{
                    height: $item-height;
                    overflow: hidden;
                    position: relative;
                }

                .article__image, .campaign__content{
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        transition: $transition
                    }
                }

                .article, .campaign__content{
                    &:hover img{
                        transform: scale(1.1)
                    }
                }

                .article__content{
                    background: #e1ebf4;
                    padding: 25px 23px;

                    h2{
                        @include arial();
                        font-size: 12px;
                        color: #68757d
                    }

                    p{
                        font-size: 18px;
                        color: #084c96
                    }
                }

                .article__image:before{
                    $triborder-width: 23px;
                    content:'';
                    position: absolute;
                    width: 0;
                    height: 0;
                    bottom: 0px;
                    left: 50%;
                    margin-left: -$triborder-width;
                    z-index: 999999;
                    border-right: $triborder-width solid transparent;
                    border-left: $triborder-width solid transparent;
                    border-bottom: $triborder-width solid #e1ebf4;
                }

                .campaign__content{
                    padding-left: 23px;

                    .text{
                        position: absolute;
                        bottom: 30px;
                        color: #fff;
                        
                        h2{
                            font-size: 34px;
                            margin: 0;
                            font-weight: 100;
                        }

                        h3{
                            font-size: 18px;
                            margin: 0;
                            font-weight: 100;
                        }
                    }
                }
            }
        }

        .toggle-button{
            position: absolute;
            top: 50%;
            cursor: pointer;

            @include respond-to-max($desktopSize) {
                display: none
            }
        }

        .arrow-circle{
            color: #fff;
            background: #084c97;
            border: none;
            width: 60px;
            line-height: 56px;
            font-size: 32px;
            height: 60px;
        }

        .arrow-circle:hover{
            color: #084c97;
            background: #fff
        }

        .toggle-right-button{
            right: -30px
        }

        .toggle-left-button{
            left: -24px
        }
    }
}